@{
    ViewData["Title"] = "Home Page";
}
@using AM.infrastructure.Service.Model 

@model LogTimeModel

<style>
    table{
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ccc;
    }
    th, td {
        border: 1px solid #ccc;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Report performace Manual map and Automapper</h1>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Mapping type</th>
                <th>Total properties</th>
                <th>10 rows</th>
                <th>100 rows</th>
                <th>1000 rows </th>
                <th>10.000 rows</th>
                <th>100.000 rows</th>
                <th>1000.000 rows</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td colspan="6">Unit is microsecond (1000µs = 1 millisencond)</td>
            </tr>
            <tr>
                <td><b>Manual</b></td>
                <td><b>15</b></td>
                <td>@Model.Manual15_10</td>
                <td>@Model.Manual15_100</td>
                <td>@Model.Manual15_1000</td>
                <td>@Model.Manual15_10000</td>
                <td>@Model.Manual15_100000</td>
                <td>@Model.Manual15_1000000</td>
            </tr>
            <tr>
                <td></td>
                <td><b>50</b></td>
                <td>@Model.Manual50_10</td>
                <td>@Model.Manual50_100</td>
                <td>@Model.Manual50_1000</td>
                <td>@Model.Manual50_10000</td>
                <td>@Model.Manual50_100000</td>
                <td>@Model.Manual50_1000000</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Automapper Normal</b></td>
                <td><b>15</b></td>
                <td>@Model.Normal15_10</td>
                <td>@Model.Normal15_100</td>
                <td>@Model.Normal15_1000</td>
                <td>@Model.Normal15_10000</td>
                <td>@Model.Normal15_100000</td>
                <td>@Model.Normal15_1000000</td>
            </tr>
            <tr>
                <td></td>
                <td><b>50</b></td>
                <td>@Model.Normal50_10</td>
                <td>@Model.Normal50_100</td>
                <td>@Model.Normal50_1000</td>
                <td>@Model.Normal50_10000</td>
                <td>@Model.Normal50_100000</td>
                <td>@Model.Normal50_1000000</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Automapper Complex</b></td>
                <td><b>15</b></td>
                <td>@Model.Complex15_10</td>
                <td>@Model.Complex15_100</td>
                <td>@Model.Complex15_1000</td>
                <td>@Model.Complex15_10000</td>
                <td>@Model.Complex15_100000</td>
                <td>@Model.Complex15_1000000</td>
            </tr>
            <tr>
                <td></td>
                <td><b>50</b></td>
                <td>@Model.Complex50_10</td>
                <td>@Model.Complex50_100</td>
                <td>@Model.Complex50_1000</td>
                <td>@Model.Complex50_10000</td>
                <td>@Model.Complex50_100000</td>
                <td>@Model.Complex50_1000000</td>
            </tr>
        </tbody>
    </table>
</div>
